<li>
    <strong>Name:</strong> <%= h user.name %><br>
    <strong>Email:</strong> <%=h user.email %><br>
    <strong>Address:</strong> <%=h user.address %><br>
    <strong>City:</strong> <%=h user.city %><br>
    <strong>State:</strong> <%=h user.state %><br>
    <strong>Zip:</strong> <%=h user.zip %><br>
</li>
